{:datomic {:uri "datomic:mem://rt-comm"
           :schema-path "resources/datomic-schema.edn"}

 :dynamo {:local-creds {:region     "localhost"
                        :endpoint   "http://localhost:8000"
                        :access-key "accessk"
                        :secret-key "seck"}
          :table-specs [{:name :orders
                         :spec-path "resources/dynamo-table-spec-orders.edn"}]}

 :event-queue {:max-size 7
               :file-path "app-data/event-queue-data.edn"}

 :ws-user {:connect-timeout 100
           :auth-timeout 3000 
           :incm-user {:batch-sample-intv 0
                       :allowed-actns [:aa :bb :post-msg :maintained-tags]}
           :outg-user {}}

 :jetty    {:port 3030}
 :immutant {:port 4040}
 :aleph    {:port 5050}

 }
